= simple_form_for(@ticket) do |f|
  = f.error_notification

  = f.input :sender_name, label: 'Name', required: true, input_html: {class: 'form-control'}
  = f.input :sender_email, label: 'Email', required: true, input_html: {class: 'form-control'}
  = f.input :subject, required: true, input_html: {class: 'form-control'}
  = f.input :body, required: true, placeholder: 'Enter your problem or question here', input_html: {class: 'form-control'}
  = f.input :department_id, collection: @departments, required: true, input_html: {class: 'form-control'}

  = f.button :submit, class: 'btn btn-primary form-control'
