%div.ticket
  = link_to 'Back |', tickets_path, class: 'btn-link' if current_user
  = link_to 'Edit', edit_ticket_path(@ticket), class: 'btn-link'
  %h2
    = "[#{@ticket.status}] #{@ticket.subject}"
  %p 
    = "Sender: #{@ticket.sender_name}"
    |
    = @ticket.sender_email
    = "| Owner: #{@ticket.owner}" if @ticket.owner
  %h3
    = @ticket.body

  = render 'responses/form'
  %br
  = render partial: 'responses/index', locals: {responses: @responses}


