%div.ticket
  = link_to 'Back', tickets_path, class: 'btn-link' if current_user
  %h2
    = @ticket.subject
  %p 
    = @ticket.sender_name
    |
    = @ticket.sender_email
  %h3
    = @ticket.body

  = render 'responses/form'

  = render partial: 'responses/index', locals: {responses: @responses}


